* {
    padding: 0;
    margin: 1em 0em;
}

Nav
.nav-banner {
    background-color: white;
    text-align: center;
    padding: 0em 0em;
}

.nav-link {
    font-size: xxx-large;
}

#circle1 {
    background: #E6563B;
    color: white;
    border-radius: 50%;
    border: 10px solid white;
    margin: auto;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#circle2 {
    background: #DEA03D;
    color: white;
    border-radius: 50%;
    border: 10px solid white;
    margin: auto;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#circle3 {
    background: #7CB06C;
    color: white;
    border-radius: 50%;
    border: 10px solid white;
    margin: auto;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#circle4 {
    background: #00ABA9;
    color: white;
    border-radius: 50%;
    border: 10px solid white;
    margin: auto;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#circle5 {
    background: #E6563B;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle6 {
    background: #DEA03D;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle7 {
    background: #7CB06C;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle8 {
    background: #00ABA9;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle9 {
    background: #E6563B;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle10 {
    background: #DEA03D;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle11 {
    background: #7CB06C;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle12 {
    background: #00ABA9;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle13 {
    background: #E6563B;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle14 {
    background: #DEA03D;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle15 {
    background: #7CB06C;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle16 {
    background: #00ABA9;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}


#circle17 {
    background: #E6563B;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle18 {
    background: #DEA03D;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle19 {
    background: #7CB06C;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}

#circle20 {
    background: #00ABA9;
    color: black;
    border-radius: 50%;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    padding: 0px 0px;
}
