body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}
.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/*Nav*/
.nav-banner {
    background-color: white;
    text-align: center;
    padding: 0em 0em;
}

.nav-link
{
    font-size: xxx-large;
}
